/* Home.css */.first { 
    border:2px solid green;
    padding: 5% yellow;
    margin: 1px blue; 
    background-color :red;
    height : 500px;
  }

  /*.text {
    height : 300px;    
  }*/

#column {
  color : black;
}

  #ad { 
    color :chocolate;
    height : 10px;
    width : 20px;
  }
  