/* Home.css */
.home-container {
  background-color: violet;
  color: blue;
  padding: 1px 5px;
  }
  
  .home-header {
    font-size: 2.5em;
    color: blue;
  }
  
  .home-paragraph {
    font-size: 1.2em;
    color: blue;
  }
  
  .home-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
  }

  .first { 
    border:2px solid green;
    padding: 5% yellow;
    margin: 1px blue; 
    background-color :red;
  }

  #ad { 
    color :chocolate;
    font-size :larger;
  }
  