.sidebar {
  POSITION : FIXED;
  width: 250px;
  background-color: #333;
  color: white;
  height: 100vh; /* 전체 화면 높이 */
  position: fixed; /* 왼쪽에 고정 */
  left: 0;
  top: 60px; /* 헤더 높이 */
  padding: 20px;
  box-sizing: border-box;
  z-index: 500;
  
}

.sidebar.open {
  left: 0; /* 열렸을 때는 화면 안으로 이동 */
}

.sidebar.closed {
  left: -250px; /* 닫혔을 때는 화면 밖으로 이동 */
}

button {
  top: 100;
  margin: 20px;
}
  
/*  .sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* 다른 요소들 위에 위치하게 함 */

  
  /*nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  body {
    margin-top: 60px; /* 고정된 헤더의 높이만큼 여백 추가 */
